<%- include('./partial/header') %>
<body>
  <%- include('./partial/navbar') %>
  <br><br>
  <h1 align="left">Add Song</h1>
  <% if(alert.message){ %>
    <div class="alert alert-danger" role="alert">
        <%= alert.message %>
    </div>
<% } %>
  <form action="/songs/add" method="POST">
    <form>
      <div class="form-group">
        <label for="title">Title</label>
        <input type="title" class="form-control" name="title" placeholder="e.g: Angry Men">
      </div>
      <div>
        <label for="genre">Genre</label>
        <select name="genre" class="custom-select mr-sm-2" id="inlineFormCustomSelect">
          <option selected disabled>choose...</option>
          <option value="pop">Pop</option>
          <option value="rock">Rock</option>
          <option value="pop-rock">Pop Rock</option>
          <option value="dangdut">Dangdut</option>
          <option value="religious">Religious</option>
          <option value="metal">Metal</option>
        </select>
      </div>
      <div class="form-group">
        <label for="released date">Released Date</label>
        <input type="released date" class="form-control" name="released_date" placeholder="e.g: 1957">
      </div>
      <div class="form-group">
        <label for="artist">Artist</label>
        <input type="artist" class="form-control" name="artist" placeholder="e.g: Lady Gaga">
      </div>
      
      <br>
      <button type="submit" class="btn btn-primary">Submit</button>  <button type="reset" class="btn btn-secondary">Reset</button>
    </form>
  </form>
</body>
</html> 