<%- include('./partial/header') %>
<body>
  <%- include('./partial/navbar') %>
  <div class="jumbotron">
   

    <h1 class="display-4" align="center">H8 Tune</h1>
    <p class="lead" align="center">Welcome to your playlist manager.</p>
    <hr class="my-4">
    <ul style="margin: 0 43%;";">
      <a class="btn btn-primary btn-lg" href="/movies/add" role="button" >View song</a>
    </ul>
  </div>
</body>
</html> 